#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 5%;
}
